* {
    background-color: blanchedalmond;
}

#main-title {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.center {
    text-align: center;
}

.strong {
    font-stretch: extra-expanded;
    font-weight: bolder;
    font-size: larger;
}

.recipe-title {
    text-align: center
}

.description {
    text-align: center;
    font-size: large;
}

